{% extends "base.html.twig" %}

{% block body %}
    <div class="parsed-images">
		
	</div>
    <div class="info"></div>
	<input type="text" id = "page_url">
	<button id = "parse_btn">Go</button>

{% endblock %}